<% if @orders %>
  <% @orders.select(:customer_id).distinct.each do |order| %>
    <tr>
      <td><%= order.customer_name %></td>
      <td><%= order.customer_email %></td>
      <td><%= order.customer_contact%></td>
      <td><%= order.customer_address%></td>
    </tr>
  <% end %>
<% end %>
